.campo{
  display: flex;
  width: 500px;
  background-color : white;
  color: black;
  margin-right: auto;
  margin-left: auto;
}

.caja{
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  width: 51%;
  height: 40vh; 
  margin-right: auto;
  margin-left: auto;
  color:black;
}

.titulo{
  color: white;
}

.total{
  color: white;
  
}