.campo{
  display: flex;
  text-align: center;
  
  flex-flow: column;
  width: 500px;
  background-color : white;
  color: black;
  
}

.caja{
  display:grid;
  
  color:black;
}

.titulo{
  color: white;
}